@property --progress {
  syntax: '<length-percentage>';
  inherits: false;
  initial-value: 0%;
}

@layer general-styling-and-whatnot {
  :root {
    --font-base: 'Space Mono', monospace;
    --color-dark: #1f1a38;
    --color-dark-glare: #989ea9;
    --color-success: #76f7bf;
    --color-success-dark: #2d7a59;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-base);
    color: var(--color-dark);
    width: min(100% - 3rem, 40ch);
    margin-inline: auto;
    margin-block: 3rem;
  }

  a {
    color: var(--color-dark);

    &:is(:hover, :focus) {
      color: var(--color-success-dark);
    }
  }

  .testing-ground {
    color: var(--color-success);
    font-weight: bold;
    background: var(--color-dark);
    border: 5px solid var(--color-dark-glare);
    padding: 1rem;
    margin-block: 3rem;

    display: grid;
    gap: 1rem;
  }

  .testing-ground button {
    cursor: pointer;
    font: inherit;
    background: white;
    color: var(--color-dark);
    border: 0;
    padding: 0.5rem;

    &:is(:hover, :focus-visible) {
      background: var(--color-success);
    }

    &:is(:focus-visible) {
      outline: 5px solid var(--color-dark-glare);
    }
  }
}

/* if javascript is disabled */
.progressbar:not([role='progressbar']) {
  color: red;
}

[role='progressbar'] {
  --size: 132px;
  --bar-width: 20px;
  width: var(--size);
  aspect-ratio: 1/1;
  font-size: 24px;

  background: conic-gradient(
    var(--color-dark) var(--progress, 0),
    var(--color-dark-glare) 0%
  );
  margin: 2rem auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  display: grid;
  place-items: center;

  transition: --progress 500ms linear;
  -webkit-transition: --progress 500ms linear;
  -moz-transition: --progress 500ms linear;
  -ms-transition: --progress 500ms linear;
  -o-transition: --progress 500ms linear;

  &::after {
    content: attr(aria-valuenow) '%';
    background-color: white;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;

    width: calc(100% - var(--bar-width));
    aspect-ratio: 1/1;

    display: grid;
    place-items: center;
  }

  span {
    display: none;
  }
}

[role='progressbar'][aria-valuenow='100']::after {
  animation: progressComplete 0s forwards;
  -webkit-animation: progressComplete 0s forwards;
  animation-delay: 1000ms;
}

@keyframes progressComplete {
  to {
    content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODUiIGhlaWdodD0iODUiIHZpZXdCb3g9IjUgMzAgNzUgMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zNS40MjM3IDUzLjczMjdMNjcuOTc4NyAyMS4xNzc3TDcyLjk4OTUgMjYuMTg0MkwzNS40MTk1IDYzLjc1TDEyLjg4NiA0MS4yMTIyTDE3Ljg5MjUgMzYuMjAxNUwzNS40MjM3IDUzLjczMjdaIiBmaWxsPSIjMWYxYTM4Ii8+Cjwvc3ZnPgo=');
    background-color: var(--color-success);
  }
}
