@layer general-styling-and-whatnot {
  :root {
    --font-base: 'Space Mono', monospace;
    --color-dark: #1f1a38;
    --color-dark-glare: #989ea9;
    --color-success: #76f7bf;
    --color-success-dark: #2d7a59;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-base);
    color: var(--color-dark);
    width: min(100% - 3rem, 40ch);
    margin-inline: auto;
    margin-block: 3rem;
  }

  a {
    color: var(--color-dark);

    &:is(:hover, :focus) {
      color: var(--color-success-dark);
    }
  }

  .testing-ground {
    color: var(--color-success);
    font-weight: bold;
    background: var(--color-dark);
    border: 5px solid var(--color-dark-glare);
    padding: 1rem;
    margin-block: 3rem;

    display: grid;
    gap: 1rem;
  }

  .testing-ground button {
    cursor: pointer;
    font: inherit;
    background: white;
    color: var(--color-dark);
    border: 0;
    padding: 0.5rem;

    &:is(:hover, :focus-visible) {
      background: var(--color-success);
    }

    &:is(:focus-visible) {
      outline: 5px solid var(--color-dark-glare);
    }
  }
}

/* if javascript is disabled */
.progressbar:not([role='progressbar']) {
  color: red;
}

[role='progressbar'] {
  --size: 132px;
  --bar-width: 20px;
  width: var(--size);
  aspect-ratio: 1/1;
  font-size: 24px;

  background: orange;
  margin: 2rem auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  display: grid;
  place-items: center;

  &::after {
    content: attr(aria-valuenow) '%';
    background-color: white;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;

    width: calc(100% - var(--bar-width));
    aspect-ratio: 1/1;

    display: grid;
    place-items: center;
  }

  span {
    display: none;
  }
}
